.StudentList {
    // border: 1px solid purple;
    height: inherit;
}

.StudentList__content--center {
    height: calc(100% - 24px);
    display: grid;
    justify-content: center;
    align-items: center;
    
    border: 1px solid green;
}